{% extends 'base.html.twig' %}

{% block title %}PRODIFY - APIRest{% endblock %}

{% block body %}
    {% if rolUsuario != 'ROLE_ADMIN'%}
        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
            <h1 class="text-center">NO TIENES PERMISO PARA ACCEDER A ESTOS DATOS</h1>
            <a href="{{ path('productos_listado') }}" class="btn btn-primary mt-3">Volver <-</a>
        </div>
    {% endif %}
    {% if rolUsuario == 'ROLE_ADMIN'%}
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-2 bg-light">
                    <div class="sidebar">
                        <ul class="nav flex-column">
                            <li>
                                <h1 class="h3 mb-3 font-weight-normal" style="background: linear-gradient(to bottom, #007bff, #b3d9ff); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-align: center;">Prodify</h1>
                            </li>
                            {% if rolUsuario == 'ROLE_ADMIN' %}
                                <li class="nav-item" style="border-bottom: solid #888888 1px">
                                    <a class="nav-link btn btn-warning m-2" style="text-align: left" href="{{ path('productos_listado') }}">
                                        <i class="fa fa-list"></i>
                                        Lista productos
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item" style="border-bottom: solid #888888 1px">
                                <a class="nav-link btn btn-warning m-2" style="text-align: left" href="{{ path('editar_perfil') }}">
                                    <i class="fa fa-pencil-alt"></i>
                                    Editar perfil
                                </a>
                            </li>
                            <li class="nav-item" style="border-bottom: solid #888888 1px">
                                <a class="nav-link btn btn-danger m-2" style="text-align: left" href="{{ path('app_logout') }}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-10">
                    <header>
                        <h1 class="text-center mb-3">Panel de administración de {{ nombreUsuario }}</h1>
                    </header>

                    <main>
                        <table class="table table-striped">
                            <thead style="background: lightgray; border: 1px solid lightcyan;"">
                            <tr>
                                <th class="text-center " style="border: 1px solid lightcyan;">Nombre del usuario</th>
                                <th class="text-center" style="border: 1px solid lightcyan;">Email</th>
                                <th class="text-center" style="border: 1px solid lightcyan;">Roles</th>
                                <th class="text-center" style="border: 1px solid lightcyan;">Telefono</th>
                                <th class="text-center" style="border: 1px solid lightcyan;">Localidad</th>
                                <th class="text-center" style="border: 1px solid lightcyan;">Opciones</th>
                            </tr>
                            </thead>
                            <tbody class="bg-white">
                            {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.nombre }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.roles }}</td>
                                    <td>{{ usuario.telefono }}</td>
                                    <td>{{ usuario.localidad }}</td>
                                    <td><a href="{{ path('borrar_usuario', {'id': usuario.id}) }}" class="btn btn-danger fa fa-trash"></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </main>
                </div>
            </div>
        </div>

        <style>
            .row {
                min-height: 100%;
            }

            .sidebar {
                height: 1000px !important;
            }

            .nav a:hover {
                background-color: lightgray;
            }
            .nav-link:hover {
                color: white;
            }

            .table {
                margin: 0 auto;
                table-layout: fixed;
            }

            .table thead th,
            .table tbody td {
                text-align: center;
                vertical-align: middle;
            }

            .table tbody img {
                display: block;
                margin: 0 auto;
            }

            .options-cell {
                padding: 0;
            }
        </style>
    {% endif %}
{% endblock %}
